<section  class="section full-back-section reading-page"> 
	<div class="chapter-header"> </div>
	
	<div class="container">
		<div class="page-content">
			<div class="wrapper">
			<div class="reading-title eight columns">
				At the end of World War II the world was ideologically split between the former allies The United States of America and The Soviet Union in the proxy conflict known as the Cold War. Iran would find itself between the two super powers due to its massive oil supplies and historic imperialist conflict between Britain and Russia.  Russia would refuse to withdraw after the war ended and would attempt to create a new communist government that would be sympathetic to Moscow’s wishes. 


				This would fail after international pressure would cause The Soviet Union to pull out but the Iran-Azerbaijan crisis would leave deep fears in the United States that Iran would “go red”. The Britain saw the occupation as a way to reinstate the control that it had lost under the leadership of Reza Shah and moved to support and advise the young Shah Mohammad Reza. 

			</div>
		    </div>
		</div>		
	</div>

	<div class="parallax-container" data-jkit="[parallax:strength=1;axis=both;]">
		<div class=" full-back-section2" style='background-image:url("{{site.url}}/assets/images/british-oil/backgrounds/events/aftermath.jpg"'></div>
	</div>
	<div class="full-back-dark"></div>
</section>