<section  class="section full-back-section reading-page">	
	<h2 class="chapter-title"> Chapter 2: Oil and Imperialism 
	</h2>
	<div class="container">
		<div class="row">
			<div class="two columns"> &nbsp;</div>
			<div class="chapter-quote eight offset-by-two columns">
				If it be asked why we should undertake the task at all, and why Persia should not be left to herself and allowed to rot into picturesque decay, the answer is that her geographical position, the magnitude of our interests in the country, and the future safety of our Eastern Europe render impossible for us now.
				<div class="chapter-quote-title">
					Earl Curzon of Kedleston, British Statesman
				</div>
			</div>
		</div>
	</div>
	<div class="parallax-container" data-jkit="[parallax:strength=1;axis=both;]">
		<div class=" full-back-section2" style='background-image:url("{{site.url}}/assets/images/british-oil/backgrounds/events/oiltower.jpg"'></div>
	</div>
	<div class="full-back-orange"></div>

</section>