<section  class="section full-back-section reading-page">	
	<div id="number-holder" class="underline"><h2 class="chapter-number">Chapter 1</h2></div>
	<h2 class="chapter-title"> History of Iran 
		<!-- <div class="chapter-underline"></div> -->
	</h2>
	<div class="container">
			<div class="two columns"> &nbsp;</div>
			<div class="chapter-quote eight offset-by-two columns">
				O man, whoever you are and wherever you come from, for I know you will come, I am Cyrus who won the Persians their empire. Do not therefore begrudge me this bit of earth that covers my bones.
				<div class="chapter-quote-title">
					Cyprus the Great
				</div>
		</div>
	</div>
	<div class="parallax-container" data-jkit="[parallax:strength=1;axis=both;]">
		<div class=" full-back-section2" style='background-image:url("{{site.url}}/assets/images/british-oil/backgrounds/events/palace.jpeg"'></div>
	</div>
	<div class="full-back-orange"></div>

</section>