<section  class="section full-back-section reading-page">	
	<h2 class="chapter-title"> World At War </h2>
	 <div class="container">
		<div class="two columns"> &nbsp;</div>
		 <div class="chapter-quote eight offset-by-two columns">
		 	"...on the basis of the declarations which Your Excellency has made several times regarding the necessity of defending principles of international justice and the right of peoples to liberty. I beg Your Excellency to take efficacious and urgent humanitarian steps to put an end to these acts of aggression. This incident brings into war a neutral and pacific country which has had no other care than the safeguarding of tranquility and the reform of the country."
			<div class="chapter-quote-title">
					Reza Shah to President Franklin Roosevelt
				</div> 
		</div>
		</div>
	<div class="parallax-container" data-jkit="[parallax:strength=1;axis=both;]">
		<div class=" full-back-section2" style='background-image:url("{{site.url}}/assets/images/british-oil/backgrounds/events/invasion.jpg"'></div>
	</div>
	<div class="full-back-orange"></div>
</section>