  <header>
    <div id="navbar">
      <a class="menubtn">menu</a>
      <!-- use captain icon for toggle menu -->
      <div id="hamburgermenu">
        <ul>
          <li>
            <a class="menu-title" id="1" href="#" >
            British Oil 
              <div class="subtitle-menu">1930-1950</div>
              </a>
          </li>
          <li>
            <a class="menu-title" id="2" href="#">The Coup
              <div class="subtitle-menu">1930-1950</div>
           </a>
         </li>
          <li>
            <a class="menu-title" id="3" href="#">The Revolution
                <div class="subtitle-menu">1930-1950</div>
             </a>
          </li>
          <li>
            <a class="menu-title" id="4" href="#">Modern Iran
              <div class="subtitle-menu">1930-1950</div>
            </a>
          </li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="second-menu-group">
       <div id="oil-menu" class="second-menu">
          <li>
            <a href="#" class="second-menu-title oil">1</a>
          </li>
          <li>
            <a href="#" class="second-menu-title ">Blood</a>
          </li>
          <li>
            <a href="#" class="second-menu-title">Sand</a>
          </li>
       </div>
       <div id="coup-menu" class="second-menu">
          <li>
            <a href="#" class="second-menu-title oil">1</a>
          </li>
          <li>
            <a href="#" class="second-menu-title ">Blood</a>
          </li>
          <li>
            <a href="#" class="second-menu-title">Sand</a>
          </li>
       </div>
       <div id="rev-menu" class="second-menu">
          <li>
            <a href="#" class="second-menu-title oil">1</a>
          </li>
          <li>
            <a href="#" class="second-menu-title ">Blood</a>
          </li>
          <li>
            <a href="#" class="second-menu-title">Sand</a>
          </li>
       </div> 
       <div id="modern-menu" class="second-menu">
          <li>
            <a href="#" class="second-menu-title oil">Oil</a>
          </li>
          <li>
            <a href="#" class="second-menu-title ">Blood</a>
          </li>
          <li>
            <a href="#" class="second-menu-title">Sand</a>
          </li>
       </div>
      </div>
    </div>
    <div class="overlay"></div>
  </header>
  

 


