<div id="{{pop.pop-call}}" class="archive-show">
<div class="info-page">
		<div class="container">
			<div class="row ">
				<div class="12 columns">
			 		<img class="pop-up-img" src="{{site.url}}/assets/images/archive/{{pop.image}}">
				</div>
			</div>
		</div>
		<a href="#" class="info-page-exit">
			<img src="/assets/icons/exit.png">
		</a>
</div>
	<div class="info-paper">
		<div class="container">
		<div class="info-title">{{pop.title}}</div>
		<a class="popup-link" href="#">
			<img src="/assets/icons/exit.png"></a>
		<div class="info-content">{{pop.content}}</div>
		</div>
	</div>
</div>