
<section  class="section full-back-section reading-page">
	<div class="chapter-header"> {{item.chapter}} </div>
	<div class="container">
		<div class="page-content">
			<div class="wrapper">
				<div class="row reading-quote">
					<div class=" six
					 columns">
					<div class="quote-title">
						{{item.quote-title}} 
					</div>
					<div class="quote-content">
						{{item.quote-content}}
					</div>
					<div class="reading-title six columns">
						
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="parallax-container" data-jkit="[parallax:strength=1;axis=both;]">
			<div class=" full-back-section2" style='background-image:url("{{site.url}}/assets/images/british-oil/backgrounds/events/{{item.quote-img}}"'></div>
	</div>
	<div class="full-back-overlay"></div>
</section>



