<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}
	<div class="archive">

	{% for pop in site.archive %}
	 {% include popup.html %}
	{% endfor %}
	<div class="archive-back">
	</div>
</div>

 <div id="fullpage">

{% assign HistoryofIran = site.sections | where: "chapter", "History of Iran" %}
{% assign Oil = site.sections | where: "chapter", "Oil and Imperialism" %}
{% assign Reza = site.sections | where: "chapter", "Reza Shah" %}
{% assign WorldWar = site.sections | where: "chapter", "World War II" %}

     {% include NationofOil.html %}
    {% include chapter1.html %}
	{% for item in HistoryofIran %}
    	{% include reading.html %}
    	{% include quote.html %}
    	{% include pop-up.html %}
    {% endfor %}

    {% include chapter2.html %}
	{% for item in Oil %}
    	{% include reading.html %}
    	{% include quote.html %}
    	{% include pop-up.html %}
    {% endfor %}
    {% include chapter3.html %}
	{% for item in Reza %}
    	{% include reading.html %}
    	{% include quote.html %}
    	{% include pop-up.html %}
    {% endfor %}

    {% include chapter4.html %}
    {% for item in WorldWar %}
    	{% include reading.html %}
        {% include quote.html %}
        {% include pop-up.html %}
    {% endfor %}
    {% include videocrisis.html %}

    {% include britishoilaftermath.html %} 


</div>

{% include footer.html %}

</body>

</html>
